
<%- include("partials/header"); -%>
<h1>Remove</h1>
<form class="" action="/delete" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" placeholder="Delete blog post">
  </div>
  <button class="btn btn-primary" type="submit" name="button"">Remove</button>
</form>

<%- include("partials/footer"); -%>
