<%- include("partials/header"); -%>

    <h1>ERROR</h1>
    <h2>WRONG CREDENTIALS</h2>
    <p>You are not authorized to make changes</p>
    <form action="/error" method="POST">
        <button class="btn btn-danger" type="submit">HOME</button>
    </form>

<%- include("partials/footer"); -%>
