<%- include("partials/header"); -%>

<h1>Login Screen</h1>
<form action="/login" method="POST">
    <input type="password" placeholder="Username" name="username">
    <input type="password"placeholder="Password" name="password">
    <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>

<%- include("partials/footer"); -%>